body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.container {
  width: 100%;
  margin: auto;
  margin-left: 0;
}

.header {
  background-color: #1da1f2;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
}
.box-search{
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}
.profile {
  position: relative;
  margin-bottom: 20px;
}

.profile-banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border: 5px solid white;
  margin-top: -4rem;
}

.post, .comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.post img, .comment img {
  width: 150px;
  height: 100px;
  margin-right: 10px;
}
.content-area{
  display: flex;
  gap: 1rem;
  background-color: #ccc;
  padding: 1rem;
}

.post .content, .comment .content {
  width: 100%;
}

.post .content .actions, .comment .content .actions {
  display: flex;
  gap: 2rem;
  margin-top: 10px;
}

 .post, .comments {
  margin-bottom: 20px;
}

.heart{
  color: red;
}
.paraIcons{
  display: flex;
  gap: 1rem;
}
.paraIcon1{
  background-color: rgb(111, 111, 241);
  border-radius: 50%;
  padding: 3px;
  color: #fff;
  font-weight: bold;
}
.paraIcon2{
  background-color: blue;
  color: #fff;
  padding: 3px;
}
